body {
    margin: 0;
}

.banner {
    background-image: url(../IMG/banner-bg.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.banner p, h1 {
    color: white;
    margin: 0;
}

.banner button {
    background-color: white;
    color: #7E4598;
    padding: 10px;
    border-radius: 30px;
}

.descricao, .habilidades{
display: inline-block;
width: 40%;
}

